# 環境情報
.env
config/config.php

# 依存ファイル
vendor/
node_modules/

# OS固有
.DS_Store
Thumbs.db

# ログ・キャッシュ
*.log
/tmp/
cache/

# 全体を無視
libs/
db/

.vscode/
MEMO.md

signin.php
signup.php
signin_post.php
signup _post.php